@using CommercialAutomation.Entities.Concrete
@model List<Category>
@{
    ViewBag.Title = "Transaction";
    Layout = null;
}

<br />

<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Pdf ve Excel</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap4.min.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">

</head>

<body style="margin-left:50px; margin-right:50px;">

    <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">

        <thead>

            <tr>

                <th>Id</th>
                <th>Kategori Adı</th>
                <th>Durum</th>

            </tr>

        </thead>

        <tbody>

            @foreach (var item in Model)

            {
                <tr>

                    <th>@item.CategoryId</th>
                    <td>@item.CategoryName</td>
                    <td>@item.CategoryStatus</td>

                </tr>
            }

        </tbody>

    </table>

    <br />
    <br />

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap4.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>

    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>

    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>

    <script>

        $(document).ready(function () {

            var table = $('#example').DataTable({

                lengthChange: false,

                buttons: ['copy', 'excel', 'csv', 'pdf', 'colvis'],

                "language": {
                    "scrollX": true,
                    "lengthMenu": "Sayfadaki veri _MENU_ sayısını belirleyiniz",
                    "zeroRecords": "Nothing found - sorry",
                    "info": "_PAGES_ sayfadan _PAGE_. sayfa gösteriliyor",
                    "search": "Arama:",
                    "paginate": {
                        "first": "İlk",
                        "last": "Önceki",
                        "next": "Sonraki",
                        "previous": "Önceki"
                    },

                    "infoEmpty": "No records available",
                    "infoFiltered": "(filtered from _MAX_ total records)"
                }
            });

            table.buttons().container()

                .appendTo('#example_wrapper .col-md-6:eq(0)');
        });

    </script>

</body>

</html>

