@model CommercialAutomation.Entities.Concrete.Department
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Departman ekleme sayfası</h3>
@using (Html.BeginForm("Add", "Department", FormMethod.Post))
{
    <div class="form-group">
        <b>@Html.Label("Departman Adı")</b>
        @Html.TextBoxFor(c => c.DepartmentName, new { @class = "form-control" })
        <br />
        <button class="btn btn-info" id="added">Ekle</button>
    </div>
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>

<script>
    $('#added').click(function () {
        swal({
            title: "Eklendi!",
            text: "Departman Başarıyla Eklendi!",
            icon: "success",
            button: false
        });
    });
</script>



