@using CommercialAutomation.Entities.Concrete
@model List<Employee>
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Departman Personel Satış Sayfası</h3>

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">@ViewBag.departmentName</li>
</ol>

<table class="table table-striped">
    <tr style="background-color:deepskyblue">
        <th>Id</th>
        <th>Personel</th>
        <th>Satış Detayları</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>@item.EmployeeId</th>
            <td>@item.EmployeeName @item.EmployeeLastName</td>
            <td><a href="/Department/DepartmentSaleMovement/@item.EmployeeId" class="btn btn-default" style="background-color:#0094ff; color:white;">Satış Detay</a></td>
        </tr>
    }
</table>

