


<div class="login-form login-form-left">
    <div class="agile-row">
        <h3>Kayıt Ekranı</h3>
        <div class="login-agileits-top">
            <form method="post">
                <input type="text" class="name" name="CustomerName" Placeholder="Adınız" required="" />
                <input type="text" class="name" name="CustomerLastName" Placeholder="Soyadınız" required="" />
                <input type="email" class="email" name="CustomerMail" Placeholder="Email Adresiniz" required="" />
                <input type="text" class="phone" name="CustomerPhone" Placeholder="Telefon Numaranız" required="" />
                <input type="text" class="name" name="CustomerCity" Placeholder="Şehriniz" required="" />
                <input type="password" class="password" name="CustomerPassword" Placeholder="Password" required="" />
                <div class="login-check">
                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> Kullanım <a href="#">koşullarını okudum &amp; Onaylıyorum</a></label>
                </div>
                <input type="submit" value="Kayıt Ol">
            </form>
        </div>
    </div>
</div>
