@model CommercialAutomation.Entities.Concrete.ToDoList

<button data-toggle="modal" data-target="#Modal1" class="btn btn-info float-right"><i class="fas fa-plus"></i> Ekle</button>
<div>
    <div class="row gx-5">

        <div class="col-7" style="margin-top:15px; margin-bottom:5px; margin-right:15px;">
          
            <div class="modal" id="Modal1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title"> Yapılacak Listesi Ekleme Sayfası </h2>
                        </div>
                        @using (Html.BeginForm("Add", "ToDoList", FormMethod.Post))
                        {
                            <div class="modal-body">
                                <label>İçerik</label>
                                @*<input type="text" name="ToDoListHeading" class="form-control" />*@
                                @Html.TextAreaFor(x=>x.ToDoListHeading, new { @class = "form-control" })
                                <br />
                                <label>Tarih</label>
                                <input type="datetime-local" name="ToDoListDate" class="form-control" />
                                <br />
                                
                                <button class="btn btn-info">Kaydet</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
