@using CommercialAutomation.Entities.Concrete
@model List<SaleMovement>
@{
    ViewBag.Title = "CustomerOrder";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<table class="table table-bordered">
    <tr style="background-color:springgreen">
        <th><b style="color:#222121">Ürün Adı</b></th>
        <th><b style="color:#222121">Fiyat</b></th>
        <th><b style="color:#222121">Tarih</b></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th><b style="color:#4e4848">@item.Product.ProductName</b></th>
            <th><b style="color:#4e4848">@item.SumPrice</b></th>
            <th><b style="color:#4e4848">@Convert.ToDateTime(item.SaleDate).ToString("dd/MM/yyyy")</b></th>
        </tr>
    }
</table>
