@using CommercialAutomation.Entities.Concrete
@model List<Message>

<a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-envelope fa-fw"></i>
    <!-- Counter - Messages -->
    <span class="badge badge-danger badge-counter" style="width:20px; height:20px">@ViewBag.result</span>
</a>
<!-- Dropdown - Messages -->
<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
     aria-labelledby="messagesDropdown">
    <h6 class="dropdown-header">
        Mesaj Bildirimleri
    </h6>
    @foreach (var item in Model)
    {

  
    <a class="dropdown-item d-flex align-items-center" href="/CustomerPanel/InBox/">
        <div class="dropdown-list-image mr-3">
            <img class="rounded-circle" src="https://st2.depositphotos.com/1000193/7107/v/950/depositphotos_71071055-stock-illustration-two-hands-and-message-icon.jpg"
                 alt="...">
            <div class="status-indicator bg-success"></div>
        </div>
        <div class="font-weight-bold">
            <div class="text-truncate">
                @item.MessageContent
            </div>
            <div class="small text-gray-500">@item.SenderMail · @item.MessageDate</div>
        </div>
    </a>
    }
    <a class="dropdown-item text-center small text-gray-500" href="/CustomerPanel/InBox/">Daha Fazla Mesaj Okuyun..</a>
</div>
