

<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="mr-2 d-none d-lg-inline text-gray-600 small">@ViewBag.name</span>
    @if (ViewBag.image != null)
    {
        <img class="img-profile rounded-circle"
             src="@ViewBag.image">
    }
    else
    {
        <img class="img-profile rounded-circle"
             src="~/Templates/panel/img/undraw_profile.svg">
    }

</a>
